<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="My description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Html to Ebook</title>
  <style>
    .mybtn { margin: 4px}
    .logline {font-size: small}
    .warn { color: tomato}
    .success { color: green}
    .config {
      position: absolute;
      top: 10rem;
      left: 3rem;
      background-color: hsl(44, 10%, 94%);
      padding: 3rem;
      border: 2px solid #9b4dca;
    }
    #updatelog {
      max-height: 35rem;
      overflow-y: scroll;
    }
    .inline-inputs input[type=text] {
      width: 12rem !important;
      display: inline-block !important;
      margin-right: 1rem;
    }
    form {margin-bottom: 0px !important;}
  </style>
  <link rel="stylesheet" href="/milligram.css"/>
</head>

<body>
  <h3 style="text-align: center;">
    <img src="favicon.ico" width="30" height="30"/>
    HTML TO EBOOK</h3>

  <div class="continer">
    <div class="row">
      <div class="column">
        <div class="float-right">
          <button live-click="evstop" class="mybtn button-outline">Stop</button>
          <button live-click="evclear" class="mybtn button-outline" title="Clear intermediate files of failed runs">Clear</button>
          <button live-click="evconf" class="mybtn button-outline">Settings</button>
        </div>
        <form id="form1" live-submit="evstart">
          <div>
            <input class="mybtn" type="submit" value="Start">
          </div>
          <label for="BookTitle" style="text-align: center;">Title for the book</label>
          <input type="text" name="BookTitle" value="{{.Conf.BookTitle}}" />
          <label for="links" style="font-size: 2rem; text-align: center;">Book Html Links</label>
          <textarea style="height: 20rem;" cols="40" rows="18" name="{{.LinksName}}">{{.Links}}</textarea>
        </form>
      </div>

      <div class="column" style="border-left: 1px gray solid;">
        <button class="float-right mybtn" onclick="javascript:window.open('/quit', '_self')">Quit</button>
        <button class="float-right mybtn"
          live-click="evhtmlsnippet"
          title="Extract links from html snippet" >Html</button>
        <img class="float-right"
        {{if not .Running}}style="display:none"{{end}}
         src="/progress.gif"/>
        <h2 style="color: brown;">Update Log</h2>
        <div id="updatelog" >
          {{range .LogMsgs}}
          <div class="logline {{.Level}}">{{.Msg}}</div>
          {{end}}
        </div>
      </div>

    </div>

  </div>

  <div class="config"
     {{if not .ShowConf}} style="display:none"{{end}}>
    <h6 style="text-align: center;">Edit Configuration</h6>
        <form id="form2" live-submit="evsave">
        <div>
          <label for="Tmpdir">Folder to save ebook</label>
          <input type="text" name="Tmpdir" value="{{.Conf.Tmpdir}}">
          <label for="SleepSec">Sleep interval between fetching links in seconds</label>
          <input type="number" name="SleepSec" value="{{.Conf.SleepSec}}">
          <input type="checkbox" name="FailonError" {{if .Conf.FailonError}}checked{{end}}>
          <label class="label-inline" for="FailonError">Stop the process on any errors fetching links</label><br/>
          <input type="checkbox" name="KeepTmpFiles" {{if .Conf.KeepTmpFiles}}checked{{end}}>
          <label for="KeepTmpFiles" class="label-inline">Keep intermediate files after succesfully creating ebook</label><br/>
          </div>

          <input class="mybtn" type="submit" value="Save">
        </form>
        <button class="mybtn button-outline " live-click="evconf">Cancel</button>
  </div>


  <div class="config"
     {{if not .ShowHtmlSnippet }} style="display:none"{{end}}>
    <h6 style="text-align: center;">Extract Links from Html Snippet</h6>
        <form id="form3" live-submit="evsnippetsave">
        <div>
          <label for="linkRegex">Match filter regex for anchor tags(Optional)</label>
          <div class="column inline-inputs">
          <input type="text" name="linkRegex" placeholder="link regex" />
          <input type="text" name="anchorRegex" placeholder="name regex" />
          <label style="display:inline">
            <input type="checkbox" name="reverseList" />
            Reverse List
          </label>
          </div>
          <input type="text" name="baseUrl" placeholder="Optional base url of page for relative links">
          <label for="HtmlSnippet">Html code snippet to extract anchor links from</label>
          <textarea name="HtmlSnippet" spellcheck="false"
           style="height: 18rem" cols="40">Html snippet</textarea>

          <input class="mybtn" type="submit" value="Update Links">
          </div>
          </form>
        <button class="mybtn button-outline"
          live-click="evhtmlsnippet">Cancel</button>
  </div>


  <script src="live.js" type="text/javascript"></script>
</body>

</html>
